*{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(180deg, rgb(220, 220, 233), rgb(25, 202, 202));
}
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        border: 1px solid rgba(0, 109, 128, 0.104);
        background-color: rgba(255, 255, 255, .15);
        backdrop-filter: blur(20px);
        width: 900px;
        height: 500px;
        border-radius: 50px;
    }
    .container_output{
        display: flex;
        flex-direction: row;
        gap: 200px;
        width: auto;
    }
    
    .mode, .jarak{
        display: flex;
        border-radius: 48px;
        background: #f3eded;
        box-shadow: 0px 11px 22px -2px rgba(0,0,0,0.55);
        -webkit-box-shadow: 0px 11px 22px -2px rgba(0,0,0,0.55);
        -moz-box-shadow: 0px 11px 22px -2px rgba(0,0,0,0.55);
        width: 200px;
        height: 200px;
        background-color: rgba(233, 237, 237, 0.861);
        text-align: center;
        font-size: large;
        font-weight: bold;
        color: rgb(81, 47, 203);
    }
    
    #status, #distance{
        color: rgb(74, 59, 59);
    }
    .teks_mode, .teks_jarak{
        font-size: larger;
        color: rgb(85, 66, 66);
    }
    .teks_status{
        height: 50px;
    }
    #status{
        font-size: 18px;
    }
    .jarak{
        flex-direction: column;
        justify-content: center;
    }
    .jarak_output{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        height: 50px;
        /* background-color: aqua; */
    }

    span{
        color: black;
    }
    
    #distance{
        font-size: 40px;
    }
    /* Button */
    .mode {
        justify-content: center;
        flex-direction: column;
    }
    .modeonoff{
        /* background-color: aqua; */
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding: 20px;
    }
    .on{
        font-weight: bold;
        border: none;
        background-color: green;
        color: white;
        width: 100px;
        height: 45px;
        border-radius: 8px;
        transition: 0.3s;
    }
    .on:hover{
        font-weight: bold;
        box-shadow: 0 0 0 5px #3b83f65f;
        cursor: pointer;
        
    }
    .on:active{
        cursor: pointer;
        background-color: white;
        color: green;
        border: 1px solid gray;
        font-weight: bold;
    }

    .off{
        font-weight: bold;
        border: none;
        background-color: red;
        color: white;
        width: 100px;
        height: 45px;
        border-radius: 8px;
        transition: 0.3s;
    }
    .off:hover{
        font-weight: bold;
        box-shadow: 0 0 0 5px #3b83f65f;
        cursor: pointer;
        
    }
    .off:active{
        cursor: pointer;
        background-color: white;
        color: red;
        border: 1px solid gray;
        font-weight: bold;
    }
    
    /* Responsive */
    /* @media (min-width:1024px){
        .container{
            height: auto;
        }
        .container_output{
            flex-direction: row;
            width: 100%;
            gap: 40px;
        }
    } */
    @media (max-width:768px){
        .container{
            height: 100vh;
            width: 450px;
            height: 450;
        }
        .container_output{
            flex-direction: column;
            gap: 40px;
        }
    }